
/*a lot of the CSS has help from StackOverflow and other online forums*/
.root {
    -fx-font-family: "Segoe UI", "Inter", sans-serif;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 19px;
}

.split-pane {
    -fx-background-color: #000000;
}

.button {
    -fx-border-color: #ffffff;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.list-view, .tree-view {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
}
.list-cell, .tree-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #dddddd;
}
.list-cell {
    -fx-font-size: 32px;
}
.tree-cell:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.scroll-bar .thumb {
    -fx-background-color: #ffffff;
}
.scroll-bar .track {
    -fx-background-color: #36454F;
    -fx-background-radius: 0;
}
.scroll-bar .increment-button,.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-opacity: 0;
    -fx-background-color: #36454F;
}


.slider .track {
    -fx-background-color: #36454F;
    -fx-pref-height: 12px;

}

.slider .thumb {
    -fx-background-color: #ffffff;
}

.label {
    -fx-text-fill: #cccccc;
}

.dialog-pane {
    -fx-background-color: #000000;
}
.dialog-pane .slider .track {
    -fx-background-color: #36454F;
    -fx-pref-height: 12px;
}
.dialog-pane .slider .thumb {
    -fx-background-color: #ffffff;
}
.dialog-pane .button-bar {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 1 0 0 0;
}
.dialog-pane .button {
    -fx-border-color: #ffffff;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}
.dialog-pane .button:hover {
    -fx-background-color: #3a3a3a;
}
.dialog-pane .label {
    -fx-text-fill: #cccccc;
}
.dialog-pane .header-panel {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
}
.dialog-pane .header-panel .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}